:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input[type=search] {
    width: 256px;
}