.card {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    padding: 16px;
    gap: 8px;
    transition: all .3s ease-in-out;
}

.card:hover {
    background-color: var(--border-color);
}

.card .vpn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 12px;
    background-color: var(--bg-color);
    color: var(--bg-color);
    padding: 8px;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}

.card:hover .vpn {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card-head {
    display: flex;
    margin: inherit;
    gap: 8px;
}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: var(--icon-bg-color);
    border-radius: 16px;
}

.card img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.card figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 56px;
}

.card h3 {
    margin: inherit;
    font-size: 16px;
    font-weight: normal;
    color: var(--text-color);
}

.card small {
    color: gray;
}

.card-body small {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}