header {
    border-bottom: 1px solid var(--border-color);
}

header .theme {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
}

header svg {
    cursor: pointer;
}

header #dark {
    display: none;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc((100vh / 3) * 2);
    gap: 16px;
    border-bottom: 1px solid var(--bg-light-gray);
}

header .logo {
    display: flex;
    height: 48px;
}

header img {
    height: 100%;
    filter: drop-shadow(8px 8px 8px rgb(0 166 237 / .5));
}

header h1 {
    margin: 0;
    font-size: 48px;
    cursor: default;
}

header .search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    width: 100%;
    top: 16px;
}

header form {
    position: relative;
    width: 100%;
    height: 48px;
}

header select {
    position: absolute;
    left: 8px;
    appearance: none;
    padding: 0 8px 0 8px;
    border: 0;
    background-color: transparent;
    outline: 0;
    border-right: 1px solid white;
    color: darkgray;
    cursor: pointer;
    height: 100%;
}

header input {
    padding: 0 16px 0 86px;
    background-color: var(--search-bg-color);
    border: 0;
    border-radius: 32px;
    outline: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    header form {
        width: 660px;
    }
}