@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('./header.css');
@import url('./nav.css');
@import url('./components/tab.css');
@import url('./components/card.css');
@import url('./footer.css');

:root {
    box-sizing: border-box;
    --bg-color: whitesmoke;
    --text-color: #191919;
    --search-bg-color: white;
    --select-border-color: whitesmoke;
    --border-color: white;
    --icon-bg-color: white;
    --neutral-color: lightgray;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

.zhi-mang-xing-regular {
    font-family: "Zhi Mang Xing", system-ui;
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100%;
}

html[data-theme="dark"] {
    --bg-color: #191919;
    --text-color: whitesmoke;
    --search-bg-color: black;
    --select-border-color: #191919;
    --border-color: black;
    --icon-bg-color: black;
    --neutral-color: gray;
}

body {
    margin: inherit;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    padding: 0 16px 0 16px;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main .tabs {
    display: none;
}

main .tabs:nth-child(1) {
    display: block;
}