@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bg-light-gray: rgb(211 211 211 / .25);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

.zhi-mang-xing-regular {
    font-family: "Zhi Mang Xing", system-ui;
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100%;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc((100vh/3) * 2);
    gap: 64px;
}

header .logo .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .title img {
    width: 48px;
    height: 48px;
    filter: drop-shadow(8px 8px 8px rgb(0, 166, 237, 0.25));
}

header .title h1 {
    font-size: 48px;
}

header .logo .slogan {
    display: flex;
    justify-content: center;
    letter-spacing: 0.47px;
    color: #808080;
}

header .search form {
    position: relative;
}

header select {
    appearance: none;
    border: 0;
    border-right: 1px solid var(--bg-light-gray);
    border-radius: 50px 0 0 50px;
    position: absolute;
    top: 0;
    left: 8px;
    background-color: transparent;
    padding: 16px 8px 16px 8px;
    outline: 0;
    cursor: pointer;
    color: gray;
}

header input[type="search"] {
    border: 0;
    border-radius: 50px;
    background-color: var(--bg-light-gray);
    padding: 16px 16px 16px 86px;
    width: calc(100vw - 128px);
}

header input[type="search"]:focus {
    outline: none;
}

nav .container {
    border-top: 1px solid var(--bg-light-gray);
    padding: 24px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 24px;
}

nav h2 {
    cursor: pointer;
    opacity: 0.5;
}

.active {
    opacity: 1;
    font-weight: bold;
}

/* nav .content li {
    cursor: pointer;
    border: 1px solid var(--bg-light-gray);
    padding: 8px 16px 8px 16px;
    border-radius: 50px;
} */

/* nav .content li:hover {
    border: 1px solid black;
} */

@media screen and (min-width: 768px) {
    header input[type="search"] {
        width: calc(100vw / 3);
    }
}