nav {
    padding: 16px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

nav li:nth-child(1) {
    color: var(--text-color);
}

nav li {
    font-size: 24px;
    font-weight: bold;
    color: darkgray;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    nav li {
        font-size: 32px;
    }

    nav ul {
        justify-content: inherit;
    }
}