nav {
    padding: 16px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: inherit;
    padding: unset;
    gap: 24px;
}

nav li {
    font-size: 24px;
    font-weight: bold;
    color: var(--neutral-color);
    cursor: pointer;
    transition: border-bottom .3s ease-in-out;
    border-bottom: 5px solid transparent;
}

nav li:nth-child(1) {
    color: var(--text-color);
    border-bottom: 5px solid var(--text-color);
}

@media screen and (min-width: 768px) {
    nav li {
        font-size: 32px;
    }

    nav ul {
        justify-content: inherit;
    }
}