/* .tab-container {
    display: none;
} */

.tab-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.tab-content a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 768px) {
    .tab-content {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}