html[data-theme="dark"] {
    --bg-color: #000;
    --font-color: #fff;
}

:root {
    --bg-color: #fff;
    --font-color: #000;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

#light {
    cursor: pointer;
}

#dark {
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.theme {
    position: absolute;
    top: 16px;
    right: 16px;
}